In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( 'adult.csv' )
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
selectedColumns = data[ [ 'educational-num', 'occupation', 'hours-per-week', 'capital-gain' ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'occupation' ] )

del X['capital-gain']
X.head()

,educational-num,hours-per-week,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,7,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,9,50,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,12,40,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,10,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,10,30,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
le.fit( data['capital-gain'] )

LabelEncoder()

In [8]:
y = pd.Series( data = le.transform( data['capital-gain'] ) )
y.head()

0     0
1     0
2     0
3    98
4     0
dtype: int64

In [9]:
model = LogisticRegression()

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)

C:\Users\daria\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
predictions[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [13]:
model.score(X_test, y_test)

0.917627789531154

In [14]:
model.score(X_train, y_train)

0.9172833367457369

In [15]:
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [16]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [17]:
clf.score(X_test, y_test)

0.917627789531154

In [18]:
clf.score(X_train, y_train)

0.9172833367457369